<!--added the form target for cypress testing-->
<p> {{ errorMessageToPrint }} </p>
<button (click)="onBuyClick()" formtarget="" data-cy="buy_button">Buy</button>
<button (click)="onSellClick()" formtarget="" data-cy="sell_button">Sell</button>

<div *ngIf="showBuyInput">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" data-cy="buyButton">
    <button (click)="Buy(quantity)">Confirm Purchase</button>
</div>

<div *ngIf="showSellInput">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" data-cy="sellButton">
    <button (click)="Sell(quantity)">Confirm Sale</button>
</div>