<!--added the form target for cypress testing-->
<button (click)="onBuyClick()" formtarget="" data-cy="buy_button">Buy</button>
<button (click)="onSellClick()" formtarget="" data-cy="sell_button">Sell</button>

<div *ngIf="showBuyInput">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity">
    <input [(ngModel)]="username" id="Username" placeholder="Enter your username" type ="text" value = "" data-cy="loginUNBox"/>
    <button (click)="Buy(quantity)">Confirm Purchase</button>
</div>

<div *ngIf="showSellInput">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity">
    <input [(ngModel)]="username" id="Username" placeholder="Enter your username" type ="text" value = "" data-cy="loginUNBox"/>
    <button (click)="Sell(quantity)">Confirm Sale</button>
</div>