<!DOCTYPE html>
<html>
  <head>
    <title>The Stock Mocket</title>
  </head>
  <body>
    <h1>Welcome to The Stock Mocket!</h1>
    <p>
      If you would like to view the charts without saving your progress, select
      <a>Charts</a> in the top right of the page.
    </p>
    <p>
      To save your stock mocket data, select <a>Account</a> and login or sign up.
    </p>
    <p>
      Select <a>Portfolio</a> to view the stocks you currently own on your account
      (must be logged in first).
    </p>
    <p>Click <a>About</a> to learn more about the creators of the website.</p>
  </body>
</html>
