    h1 {
    color: #000000;
    align-items: center;
    padding: 2rem;
    font-size: 5rem;
  }
  
  p {
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
  }
  