<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
   
</div> -->

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-large">

   
    <span>Access Your {{ title }} Account!</span>

   

  </div>

  <!-- Log In Attempt -->
  <h2>Log In</h2>

  <!-- added ngModel to link the username and password to their respective input boxes -->
  <!-- added data-cy as per Cypress's recommendation -->
  <input [(ngModel)]="usernameL" id="loginUsername" placeholder="Enter your username" type ="text" value = "" data-cy="loginUNBox"/>
  <input [(ngModel)]="passwordL" id="loginPassword" placeholder="Enter your password" type ="text" value = "" data-cy="loginPWBox" />
 
  <p> {{ loginMessageToPrint }} </p>

  <button (click)="AttemptLogin()" formtarget="" data-cy="loginSubmit"> Log In </button>

  <!-- this prints out the inputs after each button click -->
  <!-- <div *ngFor="let accountInformation of accountInfo">
    <div> {{ accountInformation.username }}</div>
    <div> {{ accountInformation.password }}</div>
  </div> -->



 
  <!-- the following line adds a horizontal line above and below the text to add style to the sentence suggesting you create an account if you don't already have one -->
  <br>
  <span layout="horizontalLine"><hr flex/>Don't have an account?<hr flex/></span>
  <!-- <div>or</div> -->







  <!-- Sign Up Attempt -->
  <h2> Sign Up</h2>

  <!-- added data-cy as per Cypress's recommendation -->
  <input [(ngModel)]="usernameSU" id="signUpUsername" placeholder="Enter a username" type ="text" value = "" data-cy="signUpUNBox" />
  <input [(ngModel)]="passwordSU" id="signUpPassword" placeholder="Enter a password" type ="text" value = "" data-cy="signUpPWBox"/>

  <p> {{ signUpMessageToPrint }} </p>

  <button (click)="AttemptSignUp()" formtarget="" data-cy="signUpSubmit"> Sign Up </button>
 