<div>

  <div class="landing_box">
    <div class="images">
      <div class="book_div">
        <img class="book_graphic_img" src="{{ bookGraphic }}" />
      </div>
      <div class="computer_div">
        <img class="computer_graphic_img" src="{{ computerGraphic }}" />
      </div>
    </div>
    <h1 class="title">Trading without the risks</h1>
    <div class="body_paragraph">
      <p style="text-indent: 40px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl in tellus 
        vestibulum accumsan. Mauris vel blandit tellus. Mauris feugiat diam malesuada, tincidunt
        velit a, varius ex. Nulla sodales nunc non felis scelerisque efficitur. Nullam porta 
        erat diam, nec porttitor dui posuere sed. Mauris vel blandit sodales nunc non felis.
      </p>
    </div>
  </div>

  <div class="landing_box2">
    <div class="content">
      <div>
        <h1 class="title">Analytics for your investments</h1>
        <div class="body_paragraph2">
          <p style="text-indent: 40px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl in tellus 
            vestibulum accumsan. Mauris vel blandit tellus. Mauris feugiat diam malesuada, tincidunt
            velit a, varius ex. Nulla sodales nunc non felis scelerisque efficitur. Nullam porta 
            erat diam, nec porttitor dui posuere sed. Mauris vel blandit sodales nunc non felis.
          </p>
        </div>
      </div>
      <div class="images2">
        <div class="analytics_div">
          <img class="analytics_graphic_img" src="{{ analyticsGraphic }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="landing_box">
    <div class="images">
      <div class="computer_div">
        <img class="computer_graphic_img" src="{{ cabinetGraphic }}" />
      </div>
    </div>
    <h1 class="title">Organize securities anyway you want</h1>
    <div class="body_paragraph">
      <p style="text-indent: 40px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nisl in tellus 
        vestibulum accumsan. Mauris vel blandit tellus. Mauris feugiat diam malesuada, tincidunt
        velit a, varius ex. Nulla sodales nunc non felis scelerisque efficitur. Nullam porta 
        erat diam, nec porttitor dui posuere sed. Mauris vel blandit sodales nunc non felis.
      </p>
    </div>
  </div>

<!-- Footer -->
  <div class="footer_box">

  </div>

</div>

