.header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #1976d2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-menu li {
    margin-right: 1rem;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }
  