<section class="aboutUsPage">
    <h1 class="pageName">About Us</h1>
    <div class="boxes">
      <div class="linesInBoxes">
        
        <div class="teamSeparation">
          <div class="frontEndTeam">
            <h2>Front End Team</h2>
            <!-- use ul and li to create a bulleted list to keep the format and structure the same for the members -->
            <ul>

              <li>Brian Hersh</li>
              <p>Hello, I am a 3rd year Computer Science major and a Classical Studies minor at the University of Florida.</p>
              
              <li>Fredderick Blanco</li>     
              <p>Greetings, I am a second year Computer Science major and Physics minor. I enjoy math and Olympic style weightlifting.</p>      
                   
            </ul>
          </div>
        </div>

        <div class="teamSeparation">
          <div class="backEndTeam">
            <h2>Back End Team</h2>
            <ul>
              
              <li>Jonathan Leal</li>
              <p>Hello, I'm a junior Computer Science Major and Math minor. I am interested in software and app development, particularly in the finance and learning sectors.</p>   

              <li>Josue Vicente</li>
              <p>Hey! I'm a third year Computer Science major and currently plan to minor in math. I hope to help optimize and create better AI systems!</p>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  